<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{countInArray("Space Debris")}}</span></div>
   <div>Communication: <span>{{countInArray("Communication")}}</span></div>
   <div>Probe: <span>{{countInArray("Probe")}}</span></div>
   <div>Positioning: <span>{{countInArray("Positioning")}}</span></div>
   <div>Space Station: <span>{{countInArray("Space Station")}}</span></div>
   <div>Telescope: <span>{{countInArray("Telescope")}}</span></div>
</div>  